@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
    --font-main: "Red Hat Display", Arial, Helvetica, sans-serif;
    --font-secondary: "Nanum Gothic", Verdana, Geneva, Tahoma, sans-serif;
    --main-font-color: white;
}
*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
}
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
#root, #__next {
	isolation: isolate;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
    width: 1280px;
    height: 100vh;
}
.wrapper > * {
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header {
    display: flex;
    max-height: max(1vh, 100px);
    padding: max(1%, 16px);
    justify-content: space-between;
    align-items: center;
}
/*Extra info grid display*/
section {
    display: grid;
    width: 100%;
    height: 70vh;
    flex-grow: 1;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 1fr 1.25fr 1.25fr;
    gap: 8px;
}
section > * {
    border-radius: 1rem;
    gap: 16px;
    border: 0;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
#hourlyForecast {
    grid-column: 1 / span 2;
    grid-row: 1;
}
.windSpeed {
    grid-column: 1;
    grid-row: 2;
}
.humidity {
    grid-column: 2;
    grid-row: 2;
}
.uvIndex {
    grid-column: 1;
    grid-row: 3;
}
.rainChance {
    grid-column: 2;
    grid-row: 3;
}
span {
    grid-column: 3;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
}
/*end grid*/
.temp {
    font-family: var(--font-main);
    font-weight: 600;
}
.currentWeather {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: var(--font-main);
}
.currentWeather * {
    text-align: center;
}
input {
    border-radius: 1rem;
    border: 0;
    outline: none;
}
input, #search{
    width: 100%;
    height: inherit;
}
.searchBar {
    height: clamp(25px, 5%, 1vh);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border-radius: 1.5rem;
    text-overflow: ellipsis;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.searchBar > * {
    background-color: transparent;
    font-family: var(--font-secondary);
    font-weight: 400;
}
#currTemp {
    font-size: 6rem;
    font-weight: 700;
}
#currLoc {
    font-size: 2rem;
}
#currDesc {
    font-size: 1rem;
    font-weight: 200;
}
.extra {
    font-family: var(--font-secondary);
    padding: 1rem;
    font-size: 4rem;
    font-weight: 600;
}
.extra h3 {
    font-size: 1rem;
    font-family: var(--font-main);
    font-weight: 400;
}
#hourlyForecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
}
.hourlyForecastCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 4px;
}
.hourlyForecastCard > *, .weeklyForecastCard > * {
    font-family: var(--font-secondary);
    font-weight: 500;
    text-align: center;
}
.weeklyForecastCard {
    display: flex;
    align-items: center;
    padding: 4px;
}
.whiteShadow {
    color: var(--main-font-color);
    text-shadow: 2px 2px 16px rgb(52, 51, 51);
}
.weatherIcon {
    width: 64px;
    height: 64px;
}



/*Put all of grid in single column on small devices*/
@media only screen and (max-width: 768px) {
    body {
        .wrapper{
            margin-left: 16px;
            margin-right: 16px;
        }
        section {
            height: 60vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1.25fr 1.25fr, 1fr;
            gap: 4px;
            
        }
        section > * {
            gap: 12px;
        }
        span {
            grid-column: 1 / span 2;
            grid-row: 4;
        }
    }
  }